
.about-div {
  padding: 25px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--blue-bg);
  color: var(--white-default);
}
.about-title, .about-heading, .about-description {
  width: 100%;

  h3, h4 {
    text-align: left;
  }
  img {
    padding: 10px;
  }
}