/*'../styles/NavBar.css' */

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  padding: 90px var(--spacing-lg) 0px;
  max-width: 1200px;
  margin: 0 auto;
}