
.match-card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  min-width: 35vw;
  min-height: auto;
  color: var(--black-default);
  gap: 5px;
  padding: 5px;
}

.match-card-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  box-sizing: border-box;
  background-color: var(--white-default);
  border-radius: 20px;
  color: var(--black-default);
  gap: 10px;
  padding: 5px;
}

.flag {
  width: 75px;
  height: auto;
  border-radius: 0 50% 0 50%;
  border: 1px solid var(--gray-default);
}

.emblem {
  width: auto;
  height: 40px;
}

.match-homeTeam, .match-awayTeam, .match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100px;
  height: auto;
}

.match-homeTeam, .match-awayTeam {
  border-radius: 10px;
}

.match-details {
  align-self: center;
  border-radius: 0 20px 0 20px;
  color: white;
  background-color: var(--black-default);
}

.match-score {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
  height: 30px;
  background-color: lightblue;
  border: 1px solid var(--blue-fg);
  border-radius: 10px;
}

.country-short-code {
  color: white;
  background-color: var(--black-default);
  border-radius: 5px;
  padding: 5px;
}

.score {
  font-family: monospace;
  color: var(--black-default);
  padding: 5px;
}

h3, h4 {
  text-align: center;
}

#status {
  color: var(--accent1);
  text-align: center;
}

