.navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 75px;
  padding: 0 var(--spacing-lg);
  background-color: var(--blue-bg);
  border: 2px solid var(--blue-fg);;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--white-default)
}

.navbar-div-homebtn, .navbar-div-title, .navbar-div-clock {
  padding: 10px;
}

.navbar-ball-logo {
  border-radius: 50%;
  align-self: center;
  display: block;

  &:hover {
  box-shadow: var(--glow);
  }

  #trionda {
  width: 50px;
  min-width: 50px;
  height: auto;
  }
}

.navbar-heading {
  line-height: 1;
  text-align: center;
}

.live {
  text-align: center;
} 

.navbar-div-clock {
  display: flex;
  padding: 2px;
}

.countdown-days, .countdown-hrs, .countdown-min, .countdown-sec {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-right: 1px dashed var(--white-default);

  h4 {
    text-align: right;
  }
}

@media (max-width: 950px) {
  .navbar-div-clock {
    display: none;
  }
}