
.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background-color: var(--white-default);
  border: 1px solid var(--black-default);
  border-radius: 10px;

  p {
    padding: 5px;
    gap: 2px;
    min-width: 30px;
    width: 10vw;
    height: auto;
    max-width: 80px;
    text-align: right;
  }

  .teamCode {
    text-align: left;
  }

  .flag {
    gap: 2px;
    min-width: 15px;
    width: 7.5vw;
    height: auto;
    max-width: 40px;
    text-align: right;
  }

}