/* New Schema */
@import url('https://fonts.googleapis.com/css2?family=Freeman:wght@400&family=Archivo+Narrow&display=swap');

:root {
  --text: whitesmoke;
  --bg-default: rgb(46, 46, 46);
  --bg1: maroon;
  --bg2: navy;
  --bg3: rgb(5, 77, 5);
  --accent1: rgb(228, 194, 3);
  --accent2: rgb(241, 230, 167);
  --accent3: green;
  --body: rgb(185, 185, 185);
  --heading: black;
  --hover: rgb(82, 82, 82);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sans-head: 'Freeman', sans-serif;
  --sans-body: 'Archivo Narrow', sans-serif;

  font: 12px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg-default);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 200svh;
  display: block;
  box-sizing: border-box;
}

body {
  font-family: var(--sans-body);
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: var(--sans-head);
  font-weight: 100;
}

p {
  margin: 0;
}

a {
  color: var(--accent1);
  display: block;
}

a:hover {
  color: var(--accent2);
}

img {
  max-width: 100%;
  display: block;
}

